body{
	background-image:url("https://images.unsplash.com/photo-1460661419201-fd4cecdf8a8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
	background-position:stretch;
	background-repeat:no-repeat;
	background-size: cover;
}
h1{
	color:red;
	text-align: center;
	text-transform: uppercase;
}
.square{
	background-color: blue;
	margin:1.6%;
	width: 30%;
	padding-bottom: 30%;
	float:left;
	border-radius: 25%;
}
.container{
	max-width: 60%;
	margin:auto;
}
#newcolor{
	color:red;
	background-color: blue;
}
#new{
	margin-left:46%;
}